PUBLIC_API_URL=http://localhost:3600

PUBLIC_EMAILJS_SERVICE_ID=service12345
PUBLIC_EMAILJS_TEMPLATE_CONTACT_ID=template12345
PUBLIC_EMAILJS_TEMPLATE_VOLUNTEER_ID=template67890
PUBLIC_EMAILJS_EMAIL=example@dominio.com
PUBLIC_EMAILJS_PUBLIC_KEY=publickey