---
import SelectEps from "./SelectEps.astro";
import DepartmentSelect from './DepartmentSelect.astro';
import MunicipalitySelect from './MunicipalitySelect.astro';
import TypeIdentification from "./TypeIdentification.astro";
---

<div class="justify-center w-full max-w-5xl mx-auto h-auto m-10 bs-[rgb(rgb(255, 255, 255)]">
  <h4 class="text-[rgb(0,121,196)] text-[36px] text-left mb-3">CONTÁCTENOS</h4>
  <p class="text-[rgb(86, 86, 88)] text[18px] text-left mb-10">¿Quieres participar en un estudio clínico?</p>

  <form class="grid grid-cols-2 gap-4 max-w-7xl mx-auto p-6 shadow-lg rounded-lg">

    <div class="flex flex-col">
      <label for="nombres" class="text-[rgb(0,179,160)] mb-2">Nombres</label>
      <input type="text" 
      id="names" 
      name="nombres"
      required
      pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" 
      class="w-full border border-[rgb(168,182,201)] p-2 rounded focus:outline-none focus:border-[rgb(0,179,160)]">
      <span class="hidden text-red-500 text-sm mt-1">Debe tener al menos 2 caracteres</span>
    </div>

    <div class="flex flex-col">
      <label for="apellidos" class="text-[rgb(0,179,160)] mb-2">Apellidos</label>
      <input type="text" 
      id="last_names" 
      name="apellidos" 
      required
      pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" 
      class="w-full border border-[rgb(168,182,201)] p-2 rounded focus:outline-none focus:border-[rgb(0,179,160)]">
      <span class="hidden text-red-500 text-sm mt-1">Debe tener al menos 2 caracteres</span>
    </div>

    <div class="flex flex-col">
      <TypeIdentification/>
    </div>

    <div class="flex flex-col">
      <label for="numero_identificacion" class="text-[rgb(0,179,160)] mb-2">Número de identificación</label>
      <input type="text" 
      id="identification_number" 
      name="numero_identificacion" 
      required
      class="w-full border p-2 rounded border-[rgb(168,182,201)] focus:outline-none focus:border-[rgb(0,179,160)]">
      <span class="hidden text-red-500 text-sm mt-1">Debe tener al menos 6 caracteres</span>
    </div>
  
    <div class="flex flex-col">
      <DepartmentSelect/>
    </div>

    <div class="flex flex-col">
      <MunicipalitySelect/>
    </div>

    <div class="flex flex-col">
      <label for="telefono" class="text-[rgb(0,179,160)] mb-2">Número de teléfono</label>
      <input type="tel" 
      id="phone" 
      name="telefono" 
      required
      class="w-full border p-2 rounded border-[rgb(168,182,201)] focus:outline-none focus:border-[rgb(0,179,160)]">
      <span class="hidden text-red-400 text-sm mt-1">Debe tener exactamente 10 dígitos</span>
    </div>

    <div class="flex flex-col">
      <label for="email" class="text-[rgb(0,179,160)] mb-2">Correo electrónico</label>
      <input type="email" 
      id="email" 
      name="email" 
      required
      class="w-full border p-2 rounded border-[rgb(168,182,201)] focus:outline-none focus:border-[rgb(0,179,160)]">
      <span class="hidden text-red-400 text-sm mt-1">Correo electrónico no válido</span>
    </div>

    <div class="flex flex-col">
      <SelectEps />
    </div>

    <div class="flex flex-col">
      <label for="edad" class="text-[rgb(0,179,160)] mb-2">Edad</label>
      <input 
      type="text" 
      id="age" 
      name="edad" 
      min="18" max="120" 
      step="1"
      required
      class="w-full border p-2 rounded border-[rgb(168,182,201)] focus:outline-none focus:border-[rgb(0,179,160)]">
      <span class="hidden text-red-400 text-sm mt-1">Debes tener al menos 18 años</span>
    </div>

    <div class="flex flex-col">
      <label for="municipio" class="text-[rgb(0,179,160)] mb-2">Nacionalidad</label>
      <select 
      id="nationality" 
      name="nacionalidad" 
      required
      class="w-full border p-2 rounded h-10.5 border-[rgb(168,182,201)] focus:outline-none focus:border-[rgb(0,179,160)]">
        <option value="" disabled selected hidden>Nacionalidad</option>
        <option value="nacionalidad">Colombiano</option>
      </select>
        <span class="hidden text-red-500 text-sm mt-1">Campo requerido</span>
    </div>

    <div class="flex flex-col">
      <label for="fecha_nacimiento" class="text-[rgb(0,179,160)] mb-2">Fecha de nacimiento</label>
      <input type="date" 
      id="date_birth" 
      name="fecha_nacimiento" 
      required
      class="w-full border p-2 rounded h-10.5 border-[rgb(168,182,201)] focus:outline-none focus:border-[rgb(0,179,160)]">
    </div>

    <div class="col-span-2 flex justify-center">
      <button class="text-[16px] px-6 py-2 bg-[rgb(0,179,160)] rounded-lg border text-white w-auto">
        Enviar
      </button>
    </div>
  </form>
</div>

<script>
  import {initFormValidations } from '../../scripts/formValidations'
  initFormValidations();
</script>

