---
import Layout from "@/components/layout/Layout.astro";
import "../styles/global.css";
---
<Layout title="centro investigacion" description="Centro de investigacion de Nordvital IPS">
	<h1 class="font-sans text-gray-900 text-4xl">Astro</h1>
</Layout>
