---
import logoText from "/content/logos/logotexto.webp?url";
---

<div class="logo-containers">
    <a href="/" class="logo"><img src={logoText} alt="Nordvital Logo" width="120" height="40"></a>
</div>
  