---
import Menu from './Menu.astro';
import SocialIcons from './SocialIcons.astro';
import LanguageSelector from './LanguageSelector.astro';
import Logo from '../ui/Logo.astro';
---

<div class=" font-['Bai_Jamjuree',sans-serif] header-actions flex items-center justify-between rounded-4xl mt-5 mx-4 md:mx-15 p-4 bg-[rgb(255,255,255)] shadow-[0_4px_20px_rgba(0,0,0,0.2)]"> 
  
  <div class="w-[30%] md:w-[25%] ml-5">
    <Logo />
  </div>
  <div class="w-[50%] flex justify-center">
    <Menu />
  </div>

  <div class="flex items-center justify-end gap-1 w-[20%] md:w-[25%] mr-5">
    <SocialIcons />
    <LanguageSelector />
  </div>
</div>