---
import logoTexto from "/content/logos/logotextoblanco.webp?url";
---

<footer class="bg-[rgb(0,179,160)] mx-5 mt-5 px-4 py-4 rounded-3xl shadow-xl" style="font-family: 'Bai Jamjuree', sans-serif;">
  <div class="grid grid-cols-1 gap-4">
    
    <div class="pl-10 border-b border-white/20 pb-2">
      <img src={logoTexto} alt="Logo de Nordvital" class="w-32 h-auto hover:scale-105 transition-transform duration-300" />              
    </div>

    <div class="grid grid-cols-1 max-[800px]:grid-cols-1 min-[801px]:grid-cols-2 gap-4 pl-10 pr-5">
      
      <div class="contact-info text-white space-y-4">
        <div class="contact-info text-white ">
          <h4 class="text-lg font-bold mb-3 ">Contacto</h4>
          <p class="mb-2 text-xm opacity-90">Catherine Torrado Acevedo</p>
          <p class="mb-2 text-xm opacity-90 break-all">institutodeinvestigacion@nordvitalips.com</p>
          <p class="mb-2 text-xm opacity-90"><span class="font-semibold">Cel:</span> 3242800091</p>         
          <p class="mb-2 text-xm opacity-90"><span class="font-semibold">Dirección:</span> AV 3A E #13A - 82 CAOBOS</p>
          <p class="mb-2 text-xm opacity-90">Cúcuta, Norte de Santander</p>
        </div>
      </div>
<div class="rounded-xl overflow-hidden shadow-2xl border-2 border-white/30 hover:border-white/50 transition-colors duration-300 mr-5">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15808.40988207448!2d-72.493919!3d7.884347!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6645a1aa0d99a5%3A0x2793b71a9595074a!2sAv.%203a%20Este%20%2313A-82%2C%20Los%20Caobos%2C%20C%C3%BAcuta%2C%20Norte%20de%20Santander!5e0!3m2!1sen!2sco!4v1771275602653!5m2!1sen!2sco" 
  width="100%" 
  height="200" 
  style="border:0;" 
  allowfullscreen="" 
  loading="lazy" 
  referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>
    </div> 
  </div>
</footer>