---
import type { ProfessionalCard } from "./ProfessionalCard.astro"
import ProfessionalCardList from "./ProfessionalCard.astro"
import team1 from "@professional/team1.webp"
import team2 from "@professional/team2.webp"
import team3 from "@professional/team3.webp"
import team4 from "@professional/team4.webp"
import team5 from "@professional/team5.webp"
import team6 from "@professional/team6.webp"
import team7 from "@professional/team7.webp"

const TITLE = "NUESTRO EQUIPO";

const LIST_PROFESSIONAL:Array<ProfessionalCard> = [
  {
    id: "1",
    name: "Eder Leonardo Caceres Reatiga",
    image: team1,
    position: "Investigador",
    i18nKeyPosition: "professional.positions.0"
  },
  {
    id: "2",
    name: "Armando Diaz Vergel",
    image: team2,
    position: "Investigador",
    i18nKeyPosition: "professional.positions.0"
  },
  {
    id: "3",
    name: "Norida Margarita Torrado Ruiz",
    image: team3,
    position: "Subinvestigador",
    i18nKeyPosition: "professional.positions.1"
  },
  {
    id: "4",
    name: "Alberth Alcides Brito Lopez",
    image: team4,
    position: "Subinvestigador",
    i18nKeyPosition: "professional.positions.1"
  },
  {
    id: "5",
    name:"Nelly Esperanza Prato Gonzalez",
    image: team5,
    position: "Coordinadora de Laboratorio",
    i18nKeyPosition: "professional.positions.2"
  },
  {
    id: "6",
    name: "Juan Carlos Mariño Davila",
    image: team6,
    position: "Bacteriologo", 
    i18nKeyPosition: "professional.positions.3"
  },
  {
    id: "7",
    name: "Ingrid Catherine Torrado Acevedo",
    image: team7,
    position: "Coordinadora de Estudios",
    i18nKeyPosition: "professional.positions.4"
  }
]
---

<section id="profesionales" >
  <ProfessionalCardList 
    title={TITLE}
    i18nKeyTitle="professional.title"
    professional={LIST_PROFESSIONAL}
  />
</section>