---
import logoText from "@logo/logotexto.webp";
import { Image } from "astro:assets";
---

<div class="logo-containers">
    <a href="/" class="logo">
        <Image
          src={logoText} 
          alt="Nordvital Logo" 
          width={120} 
          height={40}
        />
    </a>
</div>