---
export interface PropsParagraph {
  subtitle: string;
  paragraph: string;
  i18nKeySubtitle?: string;
  i18nKeyParagraph?: string;
}

const {subtitle, paragraph, i18nKeySubtitle, i18nKeyParagraph } = Astro.props;
---

<div>
  <h4 
    data-i18n={i18nKeySubtitle}
    class="font-bold text-[rgb(0,179,160)] text-[20px] py-2">
    {subtitle}
  </h4>
  <p 
    data-i18n={i18nKeyParagraph}  
    class="text-[rgb(86,86,88)] leading-relaxed">
    {paragraph}
  </p>
</div>