---

import Navbar from "@/components/header/Navbar.astro";
import "../styles/global.css";
import Footer from "@/components/Footer.astro";
import {Form} from "@/components/react/Form"
import Research from "@/components/research/Research.astro";
import Professional from "@/components/professional/Professional.astro";
import Institute from "@/components/institute/Institute.astro";
import TextContent from "@/components/text/TextContent.astro";
import AboutUs from "@/components/about-us/AboutUs.astro";

interface Props {
    title: string;
    description: string;
}

const  { title, description = 'Centreo de investigacion de Nordvital IPS' }: Props = Astro.props;

---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={description} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://investigation.nordvitalips.com" />
  <title>{title}</title>
  <title>Document</title>
</head>
<body>
<Navbar/>
  <main>
    <AboutUs />
    <TextContent />
    <Institute />
    <Professional/>
    <Research/>
    <Form  client:load/>
    <slot />
  </main>
  <Footer/>
</body>

</html>


<style>
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100vh;
    }
</style>